/* ==================== SKILLS SECTION ==================== */
.skills-line-container {
  width: 90%;
  margin: auto;
  padding: 10px 20px;
}

.skills-line {
  position: relative;
}

.skill-circle {
  width: 70px;
  height: 70px;
  border: 2px solid var(--skill-border-color);
  border-radius: 50%;
  background-color: white;
  padding: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dashed-line {
  width: 70px;
  height: 2px;
  border-top: 2px dashed var(--skill-line-color);
}

@media (max-width: 992px) {
  .dashed-line {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .dashed-line {
    width: 35%;
  }
}
