/* ==================== NAVBAR ==================== */
.custom-navbar-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.custom-navbar-collapse.open {
  max-height: 500px;
}

.nav-link {
  color: var(--dark-text);
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: var(--orange-color) !important;
}

.nav-link.active {
  font-weight: bold;
}