:root{
    --orange-color: #ff6b00;
    --black-color: #101010;
    --secondary-black-color: #606060;
    --light-color: #fff5ef;
}
@media screen and (max-width: 992px) {
  .myNavbar{
    height: 10vh !important;
  }
  
}
.myNavbar a {
    color: var(--black-color);
}
.navbar{
  padding: 0 !important;
}
