:root{
    --orange-color: #ff6b00;
    --black-color: #101010;
    --secondary-black-color: #606060;
    --light-color: #fff5ef;
}
.custom-btn {
  position: relative;
  background-color: var(--orange-color);
  color: white;
  border: none;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}
/* Before and After pseudo-elements for hover effect */
.custom-btn::before,
.custom-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--black-color);
  transition: width 0.4s ease;
  z-index: -1;
}
/* Left side */
.custom-btn::before {
  left: 0;
}
/* Right side */
.custom-btn::after {
  right: 0;
}

/* Hover Effect */
.custom-btn:hover::before,
.custom-btn:hover::after {
  width: 50%;
}
/* Footer Social Media Icons  */
.accounts .box{
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #ff6b00;
    cursor: pointer;
    border: 2px solid #ff6b00;
    transition: all ease 0.3s;
}
.accounts .box:hover{
    background-color: white;
    color: #ff6b00;
}
.serviceCard:hover{
  background-color: #fff5ef;
}
@media screen and (max-width: 600px) {
    .rowPadding{
        padding: 15px !important;
    }  
}
.fa-square-check, .location i, .myNavbar, .navbar-nav a:hover{
  color: #ff6b00;
}
